---
layout: default
id: overview
nav: true
nav-order: 1
title: Overview

banner:
  content: >
    <h1 class="banner-title banner-title--lg">Dominica</h1>
    <div class="sub-title title--gradient-bg">
      <span>Forget what you think you know about the Caribbean…</span>
    </div>



sections:

  - id: id-01
    content: >
      <p class="text--xl">Dominica is an island of outstanding – if not unmatched – natural beauty. The coast defies convention with dramatic outcrops and pebble beaches. Inland you’ll find remarkable natural phenomena, from the Boiling Lake to the Champagne Reef. An escape to this island idyll defies the tropes of a Caribbean holiday. No big resorts, no international airport; instead, an unspoilt paradise with a fascinating island culture to explore – and you’ll have it, nearly, all to yourself. </p>

  - id: id-02
    content: >
      <p class="text--xl">Whether you’re looking for adventure, a culture to discover, or to simply unwind, piece together your itinerary here and let our bespoke Dominica getaways inform your next escape.</p>
      <p class="text--xl text--bold">Dominica is a Caribbean escape like no other. </p>
      <div class="space--sm"></div>
      <a href="explore/adventure" class="btn btn--solid">Discover it now</a>

---

<div class="container vpad--xxl">

  {% for section in page.sections %}
  <div class="bob{% cycle '',' bob--swap'%}">
    <div class="bob__img">
      <div class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/overview/overview-{{forloop.index}}.jpg');"></div>
    </div>
    <div class="bob__text">
      {{section.content}}
    </div>
  </div>
  {% endfor %}

</div>

<div class="vpad--xxl bg--grey-lightest bg--pattern">

  <div class="container">

    <div class="text--center">
      <h2 class="title title--lg title--display">Start your adventure here</h2>
      <div class="space--lg"></div>
    </div>

    <div class="row row--4-4-4">
    {% assign children = site.html_pages | where: 'group-parent', 'explore' | sort:'group-order' %}
    {% for child in children %}
      <div class="col">
        <div class="bg-img bg-img--3-4" style="background-image: url({{site.img}}/content/{{child.id}}/banner.jpg);">
          <a href="{{site.baseurl}}{{child.url}}" class="bg-img__link"></a>
          <div class="bg-img__content">
            <h3 class="title text--bolder title--md text--upper">{{child.title}}</h3>
          </div>
          <div class="bg-img__overlay"></div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>

</div>